.header_container {
  background-color: rgb(49, 49, 49);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 4px 0;
  box-shadow: 0 2px 5%;
  z-index: 999;
}

.header_nav {
  display: flex;
  font-size: 18px;
  font-weight: 600;
  gap: 7rem;
  justify-content: center;
  list-style: none;
}

.header_nav li {
  background-color: rgb(184, 184, 184);
  padding: 5px;
  border-radius: 8px;
}

.header_image_container {
  width: 100vw;
  overflow: hidden;
  position: relative;
 }
 
 .header_image {
   width: 100%;
   height: 57rem;
   object-fit: cover;
   filter: blur(3px);
   transform: scale(1.05); 
 }
 
 .author_name {
   position: absolute;
   color: white;
   font-family: "Inter", sans-serif;
   font-size: 80px;
   font-weight: 600;
   top: 48%;
   left: 35%;
 } 

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .header_nav {
    font-size: 16px;
    gap: 3rem;
    justify-content: center;
  }
}

@media screen and (max-width: 750px) {
  .header_nav {
    font-size: 14px;
    gap: 1rem;
    justify-content: center;
  }
}
